.footer{

    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    padding: 20px;
    background-color: #282828;
    justify-content: space-between;
    display: flex;
}

.footer_left{

    flex:0.3;
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}
.footer_center{
    flex:0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer_right{

    flex: 0.3;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;

}
.album_logo{
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
}
.footer_green{

    color: #1ed15e;
}
.song_info > h4{
    margin-bottom: 5px;
}

.song_info > p{

    font-size: 12px;
}
.footer_icon:hover,
.footer_green:hover{
    transition: transform 0.2s ease-in;
    transform: scale(1.2) !important;
}
.footer_right * .MuiSlider-root{
    color: #1ed15e;
}